* {
  box-sizing: border-box;
  margin: 0;
}

.grid-container {
  width: 60%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 2fr);
}

.grid-item {
  margin: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.grid-item h3,
p {
  font-size: 16px;
}

.grid-item img {
  width: 100%;
}

.grid-item-description {
  padding: 8px;
}
